@keyframes show_up {
  /* 0% {opacity: 1}
  25% {opacity: 0}
  50% {opacity: 1}
  75% {opacity: 0}
  100% {opacity: 1} */
  from {
    background-color: teal
  } 
  to {
    background-color: grey
  }
}

.apk_process_text {
  animation-name: show_up;
  animation-iteration-count: infinite;
}